@import "tailwindcss";

<<<<<<< HEAD
body {
  @apply bg-linear-to-br from-[#FFFFFF] to-[#C9FCE9] min-h-screen;
}


=======
input[type="date"] {
  -webkit-appearance: none;
  appearance: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  right: 0;
}

/* Custom css for login start */

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: slideUpFade 0.6s ease-out forwards;
}

/* Custom css for login end */
>>>>>>> 7bc08ca0bb4219182d20a8d60b7654c44f910c8b
